body {
    background-color: lightsteelblue;
    margin: margin-left:5px;
    align-content: left;
    text-align: left;
}
iframe{
    height: 800px;
    width: 1100px;
    margin-right: -250px;
}
div div {
    text-align: center;
    margin: auto;
}
a{
    float: center;
    color: red;
	text-shadow: 1px 1px 1px black;
    margin-top: 5px;
}
.link{
    display: inline-block;
    text-align: center;
	height: 800px;
    width: 250px;
    vertical-align: top;
    float: left;
    background-color:floralwhite;
}
