body {
    background-color: lightblue;
    margin-left:5px;
    align-content: left;
    text-align: left;
}
h1 { 
    font-size: 2em;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 390px;
    margin-right: 0;
    font-weight: bold;
	text-decoration: underline;
	text-shadow: 1px 1px 1px white;
}
iframe{
    height: 800px;
    width: 1100px;
    margin-right: 190px;
}
form {
	text-align: left;
    width: 400px;
    margin-left: 0;
    margin-right: auto;
    background-color: lightblue;
}	
a {
    display: block;
	color: blue;
	text-shadow: 1px 1px 1px black;
    margin-top: 10px;
}
.link{
    display: inline-block;
    text-align: left;
	height: 800px;
    width: 250px;
    vertical-align: top;
    float: left;
    background-color:floralwhite;
}
.mid{
    text-align: center;
    width: 600px;
	margin-left: auto;
    margin-right: auto;
    background-color: floralwhite;
	border: 2px solid black;
}
.mid th{
    height: 100px;	
    border:1px solid black
}
.mid tr{
    height: 100px;	
    border:1px solid black
}
.mid td{
    width: 150px;
	border:1px solid black
}
.mid caption{
	border:1px solid black
}
table {
	border-collapse:collapse;
}
th, td, tr {
    width: 100px;
    height: 20px;
}
img {
	float: left;
	margin:20px 40px 25px 0;
	height:350px;
	width:350px;
	display:block;
}
.right {
    right: 0px;
    width: 1050px;
    padding: 0;
}
.right img {
	height:31px;
	width:88px;
}
.right a {
	display: block;
	color: red;
	text-shadow: 1px 1px 1px black;
    margin-top: 10px;
}
